[server_params]
server_ip : stt-server
server_port : 8888
server_target : /worker/ws/speech

[worker_params]
temp_file_location : wavs/
indice_data : false
number_jobs : 1
number_threads : 1
 

[signal_processing]
preprocessing : true
noise : true
noise_method : rnnoise
silence : false
silence_method : noise_reduce

